@import '../../Common/scss/mixin';
@import '../../Common/scss/varriable';

.auth-profile-wrapper {
   padding: 0 calc((100% - var(--article-width)) / 2);
   margin: 1rem 1rem 5rem 1rem;
}
.auth-session {
   margin-bottom: 1rem;
   cursor: pointer;
   @include flexbox();
   .auth-session-title {
      text-align: flex;
      // font-weight: bolder;
      font-size: 1.5em;
      margin-bottom: 0.5rem;
      padding: 0.2rem 0.5rem;
      color: var(--text-color);
      border-radius: 0.5rem;
      border: 0.1rem solid var(--heading-color);
      border-left: 0.5rem solid var(--heading-color);
      .auth-session-title-right {
         float: right;
      }
      &:focus {
         color: var(--bg-color);
         background-color: var(--heading-color);
         font-weight: bold;
      }
   }
   .select-box {
      cursor: pointer;
      margin: 1rem auto;
      padding: 0.2rem 1rem;
      border-radius: 999rem;
      border: 0.1rem solid var(--heading-color);
   }
   .auth-session-body {
      border: 0.02rem solid var(--heading-color);
      border-radius: 0.5rem;
      padding: 1rem;
      .subject-item-box {
         @include flexbox(row, flex-start, center, wrap);
         margin-bottom: 0.5rem;
         .subject-item {
            margin-right: 1rem;
            input {
               width: max-content;
               background-color: var(--bg-color);
               color: var(--text-color);
               border-radius: 0.2rem;
               padding: 0.1rem 0.5rem;

               &::placeholder {
                  color: var(--text-color);
               }
               &:focus {
                  outline: 0.1rem solid var(--heading-color);
               }
            }
         }
         input.subject-item {
            max-width: 50px;
            background-color: var(--bg-color);
            color: var(--text-color);

            &::placeholder {
               color: var(--text-color);
            }
            &:focus {
               border-bottom: 0.1rem solid var(--primary-color);
            }
         }
         .subject-control {
            margin-left: auto;
            margin-right: 0rem;
            @include flexbox();
            .subject-control-icon {
               margin-right: 1rem;
               .subject-control-input {
                  height: 100%;
                  border-radius: 0.2rem;
                  padding: 0.2rem 0.5rem;
                  &:focus {
                     outline: 0.2rem solid var(--heading-color);
                  }
               }
            }
         }
      }
   }
   .create-subject-control {
      margin: 0.5rem;
      text-align: center;
   }
}

.create-subject-box {
   border: 0.05rem solid var(--heading-color);
   border-radius: 1rem;
   @include flexbox(row, center, flex-end, wrap);
   width: 100%;
   .create-subject-item {
      text-align: left;
      input {
         margin-top: 0.2rem;
         padding: 0.2rem 0.5rem;
         &:focus {
            outline: 0.1rem solid var(--heading-color);
         }
      }
      padding: 1rem;
      margin: 0.5rem 1rem;
      button {
         padding: 0.3rem 1rem;
         border-radius: 0.5rem;
      }
   }
}

.margin-top {
   margin-top: 90px; // get ref height of header
}
