@import '../../Common/scss/mixin';
@import '../../Common/scss/varriable';

.auth-wrapper {
   --maxWithForm: 500px;
   padding: 0 calc((100% - var(--maxWithForm)) / 2);
   width: 100%;
   height: max-content;
   margin-top: 1rem;
   .auth-container {
      width: 100%;
      // background-color: var(--primary-color);
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0 0 0.1rem var(--heading-color);
   }
}

.auth-title {
   text-align: center;
   // font-weight: bolder;
   font-size: 2em;
   margin-bottom: 1rem;
   color: var(--text-color);
}

.form-group {
   margin-bottom: 0.5rem;
   &:last-child {
      text-align: center;
   }
}

.group-name {
   width: 100%;
   text-align: left;
   padding-left: 10%;
   color: var(--text-color);
}

.input-check-box {
   width: 100%;
   border-radius: 1rem;
   @include flexbox();
   border: 0.05rem solid var(--heading-color);
   border-left: 0.5rem solid var(--heading-color);
   border-right: 0.5rem solid var(--heading-color);
   .input {
      width: 80%;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      background-color: var(--bg-color);
      color: var(--text-color);
      &:focus,
      &:hover {
         // background-color: var(--text-color);
         // color: var(--bg-color);
         cursor: text;
      }
   }
   i {
      width: 10%;
      line-height: 2.5rem;
      font-size: 1rem;
      text-align: center;
      color: var(--text-color);
   }
}

// .min-alert {
//    text-align: center;
//    $fontSize: 1rem;
//    .input-error {
//       font-size: $fontSize;
//       color: $danger;
//    }
//    .input-success {
//       font-size: $fontSize;
//       color: $success;
//    }
// }

.form-group:last-child {
   text-align: center;
   width: 100%;
   margin-top: 1rem;
   .form-submit-item {
      width: max-content;
      line-height: 1.5rem;
      padding: 0.2rem 2rem;
      // border-radius: 1rem;
      margin: 0rem 0.2rem;
      font-size: 1rem;
      border: none;
      border-top: 0.2rem solid var(--text-color);
      border-bottom: 0.2rem solid var(--text-color);
      font-weight: bold;
      background-color: var(--heading-color);
      color: var(--bg-color);
      cursor: pointer;
   }
   .alert-box {
      margin: 0.5rem 0rem;
      font-style: italic;
      .link {
         margin-left: 0.5rem;
         color: $success;
      }
   }
}
