@import './Assets/scss/reset';
@import './Assets/scss/varriable';
@import './Assets/scss/mixin';

.app {
   font-size: 16px;
   background-color: var(--bg-color);
   .app-box {
      display: flex;
      .app-item:nth-child(1) {
         width: var(--navbar-width);
         min-height: 100vh;
         transition: $transTimeCol;
         box-shadow: 0 0 1rem var(--text-color);
         overflow-x: hidden;
      }
      .app-item:nth-child(2) {
         width: calc(100% - var(--navbar-width));
         min-height: 100vh;
         z-index: 2;
      }
      @include responsive('tablet') {
         --navbar-width: 100px;
      }
      @include responsive('mobile') {
         --navbar-width: 50px;
      }
   }
}

.mt {
   margin-top: 1000px;
}

/*
  pointer-events: none;
  @media (prefers-reduced-motion: no-preference) {
  }
  font-size: calc(10px + 2vmin);
 */
