@import '../../Common/scss/mixin';
@import '../../Common/scss/varriable';

.card-item {
   overflow: hidden;
   cursor: pointer;
   .card-img-box {
      position: relative;
      overflow: hidden;
      border: 0.1rem solid var(--heading-color);
      border-radius: 2rem;
      border-top-left-radius: 0rem;
      margin: 1rem;
      .card-code {
         position: absolute;
         top: 1rem;
         left: 1rem;
         z-index: 2;
         padding: 0.5rem;
         border-radius: 0.5rem;
         background-color: var(--primary-color);
      }
      .card-img {
         width: 100%;
         height: auto;
         transition: $transTime;
         &:hover {
            transform: scale(1.2);
            transition: $transTime;
         }
      }
   }

   .card-name {
      padding-left: 1rem;
      @include truncate_line('20px', 1);
   }
   .card-description {
      padding: 1rem;
      color: var(--primary-color);
      .description {
         font-style: italic;
         @include truncate_line(calc(20px), 3);
      }
   }
   .card-button {
      padding: 1rem;
      margin-bottom: -1rem;
      @include flexbox(row, flex-start, center, wrap);
      .button {
         border-top: 0.1rem solid var(--primary-color);
         border-bottom: 0.1rem solid var(--primary-color);
         margin: 0rem 1rem 1rem 0rem;
         background-color: var(--primary-color);
         transition: $transTimeCol;
         &:hover {
            background-color: var(--heading-color);
            color: var(--bg-color);
            transition: $transTimeCol;
         }
      }
   }
}
