@import '../../Common/scss/mixin';
@import '../../Common/scss/varriable';

.header {
   min-width: calc(100% - var(--navbar-width));
   transition: $transTimeCol;
   background-color: var(--bg-color);
   height: max-content;
   padding: 1rem;
   @include flexbox(row, flex-start, center, wrap);
   outline: 0.01rem solid var(--heading-color);
   z-index: 100;
   .header-item {
      $sizeIcon: 1.5rem;
      @include setCenter();
      @include flexbox();
      border-radius: 999rem;
      i {
         font-size: $sizeIcon;
      }
      &:hover {
         // background-color: var(--primary-color);
         box-shadow: 0 0 0.5rem var(--heading-color);
      }
   }

   .header-item:nth-child(2) {
      width: max-content;
      margin-left: 1rem;
      &:hover {
         box-shadow: none;
         color: var(--heading-color);
         transition: 0.7s;
      }
   }

   .header-item:nth-child(3) {
      width: max-content;
      border-radius: 1rem;
      margin-left: auto;
      margin-right: 10rem; //! fix
      align-self: center;

      background-color: var(--bg-color);
      border: 0.01rem solid var(--heading-color);
      border-left: 0.5rem solid var(--heading-color);
      border-right: 0.5rem solid var(--heading-color);
      @include responsive('mobile') {
         width: 0rem;
         padding: 0rem;
         border: none;
      }
      @include responsive('mini') {
         width: 0rem;
         padding: 0rem;
         border: none;
      }
      input {
         width: 85%;
         padding: calc((var(--sizeBase) - 1.5rem) / 2) 0.5rem;
         color: var(--text-color);
         background-color: var(--bg-color);
         font-size: 1rem;
      }
      i {
         width: 15%;
         text-align: center;
         height: var(--sizeBase);
         background-color: var(--bg-color);
         line-height: var(--sizeBase);
         flex-grow: 1;
      }
   }
   .header-item:nth-child(4) {
      border-radius: 0rem;
      margin-left: auto;
      margin-right: 0.5rem;
      overflow: initial;
      position: relative;
      border-radius: 999rem;
      .count-box {
         @include setCenter(1rem);
         position: absolute;
         top: 0.1rem;
         right: 0.1rem;
         border-radius: 999rem;
         font-size: 0.8rem;
         font-weight: bold;
         // border: 0.1rem solid var(--heading-color);
         background-color: var(--heading-color);
         color: var(--text-color);
         z-index: 2;
      }
      &:hover {
         box-shadow: none;
      }
   }
   .header-item:nth-child(5) {
      position: relative;
      overflow: initial;
      .auth-item {
         @include flexbox();
         .avatar-image {
            $size: 3rem;
            max-width: calc($size - 0.5rem);
            max-height: calc($size - 0.5rem);
            border-radius: 999rem;
         }
      }
   }
}

.alert-container-box {
   position: absolute;
   top: 110%;
   right: 0;
   cursor: initial;
   width: 300px;
   height: 200px;
   overflow-y: auto;
   padding: 0.5rem;
   border-radius: 0.5rem;
   @include scrollbar(0.5rem);
   background-color: var(--bg-color);
   outline: 0.05rem solid var(--heading-color);
   z-index: 10;
   .alert-item {
      @include flexbox(row, flex-start);
      border-bottom: 0.05rem solid var(--text-color);
      .alert-icon-box {
         padding: 0.5rem;
         @include flexbox();
      }
      .alert-content-box {
         @include flexbox();
         .alert-content {
            line-height: 1rem;
            font-size: 0.8rem;
         }
      }
      &:last-child {
         border-bottom: none;
      }
   }
}

.fixed-header {
   position: fixed;
   top: 0;
   right: 0;
   box-shadow: 0 0 0.3rem var(--text-color);
   transition: $transTimeCol;
}
