@import '../../Assets/scss/mixin';
@import '../../Assets/scss/varriable';

.navbar {
   width: var(--navbar-width);

   padding: 1rem 0rem;
   z-index: 1;
   .nav-box {
      width: 100%;
      padding: 0rem 0.5rem;
      @include flexbox(column);
      .nav-item {
         width: 100%;
         text-align: left;
         padding: 0.5rem;
         // border-top-right-radius: 999rem;
         // border-bottom-right-radius: 999rem;
         i {
            margin-right: 0.5rem;
         }
      }
   }
}

.fixed-navbar {
   position: fixed;
   top: 0;
   left: 0;
}
